@use "vuepress-shared/styles/reset";

.innenu-account {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.innenu-account-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0.6;
  filter: blur(8px);
}

.innenu-account-content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.innenu-account-logo {
  max-width: 150px;
  height: 50%;
  max-height: 150px;
  margin-top: 12px;
}

.innenu-account-name {
  margin: 4px 0;
  font-size: 18px;
  text-shadow: 0 0 1px var(--vp-c-text-mute);
}

.innenu-account-desc {
  max-width: 80%;
  margin: 4px auto;
  color: var(--vp-c-text-mute);
  font-size: 14px;
}

.innenu-account-action-list {
  position: relative;
  z-index: 1;
  display: flex;
  padding: 1rem 0;
  justify-content: space-evenly;
}

.innenu-account-action {
  @include reset.button;
  overflow: hidden;

  margin: 6px;
  padding: 0;
  border-radius: 50%;
  line-height: 1;

  background-color: var(--vp-c-control);

  &:hover {
    background-color: var(--vp-c-control-hover);
  }
}

.innenu-account-icon {
  width: 2rem;
  height: 2rem;
  margin: 6px;
}
