@use "@sass-palette/hope-config";

.innenu-card {
  display: block;
  overflow: hidden;
  color: inherit;

  max-width: 520px;
  margin: 12px 16px;
  border-radius: 16px;

  background-color: var(--vp-c-control);
  box-shadow: 1px 1px 2px 3px var(--vp-c-shadow);

  text-align: left;

  @media (min-width: hope-config.$tablet) {
    margin: 12px auto;
  }

  &:hover {
    background-color: var(--vp-c-control-hover) !important;
    text-decoration: none !important;
  }
}

.innenu-card-cover {
  width: 100%;
  max-height: 220px;
}

.innenu-card-detail {
  margin: 0;
  padding: 12px 16px;
}

.innenu-card-title {
  font-weight: bold;
  font-size: 17px;

  @media (min-width: hope-config.$tablet) {
    font-size: 20px;
  }
}

.innenu-card-desc {
  margin-top: 8px;
  color: var(--vp-c-text-mute);
  font-size: 14px;
  line-height: 1.4;

  @media (min-width: hope-config.$tablet) {
    margin-top: 10px;
    font-size: 18px;
  }
}

.innenu-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: right;
}

.innenu-card-logo {
  width: 28px;
  height: 28px;

  @media (min-width: hope-config.$tablet) {
    width: 40px;
    height: 40px;
  }
}

.innenu-card-name {
  margin: 2px auto;
  color: var(--vp-c-text-subtle);
  font-size: 12px;

  @media (min-width: hope-config.$tablet) {
    font-size: 16px;
  }
}
