.innenu-doc {
  position: relative;

  display: flex;
  align-items: center;

  overflow: hidden;

  padding: 8px 16px;
  border-radius: 8px;

  background-color: var(--vp-c-control);
  color: var(--vp-c-text);

  line-height: 1.2;
  font-size: 17px;

  &:hover {
    background-color: var(--vp-c-control-hover);
    text-decoration: none !important;
  }
}

.innenu-doc-icon {
  flex: none;
  width: 32px;
  height: 32px;
  margin-right: 16px;
}
