@use "@sass-palette/hope-config";

.innenu-list {
  position: relative;

  overflow: hidden;

  padding: 0;
  list-style: none;
  border-radius: 8px;

  background-color: var(--vp-c-control);

  &.noheader {
    margin-top: 8px;
  }
}

.innenu-list-item {
  position: relative;

  display: flex;
  align-items: center;

  width: auto;
  padding: 0 16px;
  border-radius: 0;

  background-color: var(--vp-c-control);
  color: var(--vp-c-text);

  font-weight: normal;
  font-size: 17px;
  line-height: 1.45;

  &.route-link {
    position: relative;
    padding-right: 30px;

    &::after {
      content: " ";

      position: absolute;
      top: 50%;
      right: 17px;

      display: inline-block;

      width: 7px;
      height: 7px;
      margin-top: -4px;
      border-width: 2px 2px 0 0;
      border-style: solid;
      border-color: var(--vp-c-text-mute);

      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    }

    &:hover {
      background-color: var(--vp-c-control-hover) !important;
      text-decoration: none !important;
    }
  }

  &:empty {
    padding: 0;
  }

  &::before {
    content: " ";

    position: absolute;
    right: 0;
    bottom: 0;
    left: 16px;

    height: 1px;
    border-bottom: 1px solid var(--vp-c-border);

    transform: scaleY(0.4);
    transform-origin: 0 100%;
  }

  &:last-child {
    &::before {
      display: none;
    }
  }
}

.innenu-list-icon {
  width: 30px;
  height: 30px;
  margin: 10px 10px 10px 0;
}

.innenu-list-detail {
  display: flex;
  align-items: center;

  flex: 1;
  padding: 10px 0;

  position: relative;
}

.innenu-list-text {
  flex-grow: 1;

  color: var(--vp-c-text);

  line-height: 1.5;
  text-align: left;
  max-width: 100%;
  word-break: break-word;
}

.innenu-list-desc {
  flex-shrink: 1;

  overflow: hidden;

  max-width: 40%;

  color: var(--vp-c-text-subtle);

  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.innenu-list-footer {
  min-height: 16px;
  margin: 0 16px;
  padding: 5px 16px 0;

  color: var(--vp-c-text-mute);

  font-size: 13px;
  text-align: left;
}
