@use "components";
@use "homepage";

.vp-feature-item.link:hover {
  transform: scale(0.95);

  &::before {
    display: none;
  }
}

.vp-catalog-wrapper {
  .icon {
    width: 1.25em;
    vertical-align: middle;
    height: 1.25em;
    margin-right: 0.25em;
  }
}

#dify-chatbot-bubble-button {
  background-color: var(--vp-c-accent) !important;
}
