name: Generate and deploy docs

on:
  push:
    branches:
      - main
    paths:
      - "config/scraper.json"
      - "data/**"
      - "pages/**"
      - "scripts/**"
      - "site/**"
      - "package.json"

permissions:
  contents: write

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: main
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: true

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22

      - name: Generate Site
        run: pnpm site:generate

      - name: Build Site
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: pnpm site:build

      - name: Deploy to gh pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: .site/.vuepress/dist
          single-commit: true

  deploy-server:
    runs-on: ubuntu-latest
    needs: deploy-gh-pages
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: gh-pages
          fetch-depth: 0

      - name: Configuration environment
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan ssh.innenu.com >> ~/.ssh/known_hosts
          git config --global user.name 'Mr.Hope'
          git config --global user.email 'mister-hope@outlook.com'
          git push -f git@ssh.innenu.com:/www/wwwroot/innenu gh-pages
          ssh git@ssh.innenu.com "cd /www/wwwroot/innenu && git reset --hard HEAD"

  scrape:
    needs: deploy-server
    uses: ./.github/workflows/scraper.yml
    secrets:
      MEILISEARCH_MASTER_KEY: ${{ secrets.MEILISEARCH_MASTER_KEY }}
