name: Linter test

on:
  push:

permissions:
  contents: read

jobs:
  linter-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Linter Test
        env:
          NODE_OPTIONS: --max_old_space_size=4096
        run: pnpm lint:check
