name: Generate and deploy docs

on:
  workflow_call:
    secrets:
      MEILISEARCH_MASTER_KEY:
        required: true

  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    name: re-scrape documentation for MeiliSearch
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: true

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22

      - name: Generate Site
        run: pnpm site:generate

      - name: Generate Only URLs
        run: pnpm vp-meilisearch-scrapper .site config/scraper.json

      - name: Run scraper
        env:
          # replace with your own MeiliSearch host URL
          HOST_URL: https://meilisearch.innenu.com
          API_KEY: ${{ secrets.MEILISEARCH_MASTER_KEY }}
          # replace it with the path to your config file
          CONFIG_FILE_PATH: ${{ github.workspace }}/config/scraper.json
        run: |
          docker run -t --rm \
            --network=host \
            -e MEILISEARCH_HOST_URL=$HOST_URL \
            -e MEILISEARCH_API_KEY=$API_KEY \
            -v $CONFIG_FILE_PATH:/docs-scraper/config.json \
            jqiue/docs-scraper:latest pipenv run ./docs_scraper config.json
